#main-content{
	margin-left:2.2rem;
}
#sidebar{
	width: 2.2rem;
}
.header>a>span{
	margin-left:0;
}
.personal{
	margin-top:10px;
}
.loginOut{
	min-width: 65px;
	text-align: center;
}
/*用于常规设置的样式*/
.add_server_one td{
	text-align:left;
}
.logo>span{
	text-transform : capitalize;
}
/*对模态框的设置 start*/
.modal-title{
	text-align: center;
	font-size:0.18rem;
}
#logModal .modal-dialog{
	width: 6rem;
}
#logModal .modal-body{
	padding-top:0.1rem;
	padding-bottom: 0.1rem;
	padding-left: 0.1rem;
	padding-right:0;
}
#logModal .modal-dialog{
	width: 11rem;
}
#messageModal .modal-body{
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}
#messageModal .modal-dialog{
	width: 4rem;
}
#add_server_modal .modal-body{
	padding: 0.15rem;
}
.tip-message{
	font-size: 0.2rem!important;
	font-weight: 500;
	text-align: center;
}
.label{
	padding: 0.5em 0.5em;
}
#information{
	height: 6rem!important;
}
.modal-header{
	padding: 0.08rem;
}
.modal-footer{
	margin-top: 0;
}
.modal-footer{
	padding: 0.1rem 0.1rem 0.1rem  0.1rem;
}
.modal-body .table{
	margin-bottom: 0;
}
.form-control{
	height: 0.4rem;
	color: #797979;
}
td{
	padding:0.1rem!important;
	
}
/*对模态框的设置 end*/

/*对按钮样式的的设置*/
.header{
	min-height: 0.39rem;
}
.logo span{
	font-size: 0.22rem!important;
}
.header .logo{
	font-size: 0.25rem;
}
a.logo{
	margin-top:0.10rem;
	margin-bottom:0.10rem;
}
.wrapper{
	margin-top:0.58rem;
	padding:0.1rem;
}
.personal{
	margin-top:0;
}
.top-nav{
	margin-top:0.1rem;
}
ul.sidebar-menu{
	margin-top: 0.65rem;
}
.mcrouter_title{
	font-size: 0.23rem !important;
}
.pool-table td{
	width: 33.3%;
}
.marginTop{
	padding-top: 0.05rem!important;
}
#view_td .view_contain{
	width: 71%;
}
.editable-table table{
	margin-bottom:0.1rem;
}
.dropdown-menu li{
	border-bottom: 1px #eee solid;
}
.form-group{
	margin-bottom: 0!important;
}
.add_server_one{
	margin-bottom: 0!important;
}
.select_option_box td{
	padding-left: 0!important;
}
.operate_policy tr td table tbody tr td{
	padding-left: 0!important;
}