#main-content{
	margin-left: 9%;
}
#sidebar{
	width: 9%;
}
.header>a>span{
	margin-left:0;
}
.personal{
	margin-top:10px;
}
.loginOut{
	min-width: 65px;
	text-align: center;
}
/*用于常规设置的样式*/
.add_server_one td{
	text-align:left;
}
.logo>span{
	text-transform : capitalize;
}
.modal-title{
	text-align: center;
	font-size:0.18rem;
}