<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.GatewayCheckMapper">

	<insert id="insert" parameterType="GatewayCheck">
		insert into gateway_check(action,beforeinfo,info,createtime) values(#{action},#{beforeInfo},#{info},#{createtime})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from gateway_check where id=#{id}
	</delete>
	
	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="findById" parameterType="int" resultType="GatewayCheck">
		select id,action,beforeinfo,info,createtime from gateway_check where
		id=#{id}
	</select>
	
	<select id="list"  resultType="GatewayCheck">
		select id,action,beforeinfo,info,createtime from gateway_check order by createtime desc
	</select>
	
</mapper>  

