<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.GatewayServiceMapper">

	<insert id="insert" parameterType="GatewayService">
		insert into gateway_service(gatewayservicename,servicename,serviceversion,servicemethod,qps,ver) values(#{gatewayServiceName},#{serviceName},#{serviceVersion},#{serviceMethod},#{qps},#{ver})
	</insert>

	<update id="update" parameterType="GatewayService">
		update gateway_service set servicename=#{serviceName},serviceversion=#{serviceVersion},servicemethod=#{serviceMethod},servicemethod=#{serviceMethod},qps=#{qps} where gatewayservicename=#{gatewayServiceName} and ver=0
	</update>

	<delete id="delete" parameterType="String">
		delete from gateway_service where gatewayservicename=#{gatewayServiceName}
	</delete>
	
	
	<select id="findVerByConfig" parameterType="GatewayService" resultType="Integer">
		select ver from gateway_service where gatewayservicename=#{gatewayServiceName} and servicename=#{serviceName} and serviceversion=#{serviceVersion} and servicemethod=#{serviceMethod} and qps=#{qps} and ver!=0
	</select>
	
	<select id="findGatewayService" parameterType="String" resultType="GatewayService">
		select id,gatewayservicename,servicename,serviceversion,servicemethod,qps,ver from gateway_service where gatewayservicename=#{gatewayServiceName} and ver=0
	</select>
	
	<select id="findMaxVer" parameterType="String" resultType="Integer">
		select max(ver) from gateway_service where gatewayservicename=#{gatewayServiceName}
	</select>
	
	<insert id="insertList" parameterType="java.util.List"> 		
		insert into gateway_service(gatewayservicename,servicename,serviceversion,servicemethod,qps,ver) values
		<foreach collection="list" item="obj" index="index" separator="," >  
			(#{obj.gatewayServiceName},#{obj.serviceName},#{obj.serviceVersion},#{obj.serviceMethod},#{obj.qps},#{obj.ver})
		</foreach>
	</insert> 
	
	<select id="list"  resultType="GatewayService">
		select gatewayservicename,servicename,serviceversion,servicemethod,qps,ver from gateway_service where ver=0 order by gatewayservicename
	</select>

	<select id="listVer"  resultType="GatewayService" parameterType="String">
		select gatewayservicename,servicename,serviceversion,servicemethod,qps,ver from gateway_service where gatewayservicename=#{gatewayServiceName}
	</select>
</mapper>  

