<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.MicroServiceMethodCheckMapper">

	<insert id="insert" parameterType="MicroServiceMethodCheck">
		insert into micro_service_method_check(servicenameandversion,methodname,beforeinfo,info,createtime) values(#{serviceNameAndVersion},#{methodName},#{beforeInfo},#{info},#{createtime})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from micro_service_method_check where id=#{id}
	</delete>

	
	<select id="list"  resultType="MicroServiceMethodCheck">
		select id,servicenameandversion,methodname,beforeinfo,info,createtime from micro_service_method_check order by createtime desc,servicenameandversion,methodname
	</select>
	
</mapper>  

