<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.MicroServiceMapper">

	<insert id="insertList" parameterType="java.util.List"> 		
		insert into micro_service(servicename,version) values
		<foreach collection="list" item="obj" index="index" separator="," >  
			(#{obj.serviceName},#{obj.version})
		</foreach>
	</insert> 

	<select id="list"  resultType="MicroService">
		select id,servicename,version from micro_service
	</select>
</mapper>  

