<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.MicroServiceCheckMapper">

	<insert id="insert" parameterType="MicroServiceCheck">
		insert into micro_service_check(servicenameandversion,beforeinfo,info,createtime) values(#{serviceNameAndVersion},#{beforeInfo},#{info},#{createtime})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from micro_service_check where id=#{id}
	</delete>

	
	<select id="list"  resultType="MicroServiceCheck">
		select id,servicenameandversion,beforeinfo,info,createtime from micro_service_check order by createtime desc,servicenameandversion
	</select>
	
</mapper>  

