<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.MicroServiceIpCheckedMapper">

	<insert id="insert" parameterType="MicroServiceIpChecked">
		insert into micro_service_ip_checked(servicenameandversion,ip,port,beforestatus,beforeweight,beforebeta,beforeconnections,beforefails,status,weight,beta,connections,fails,createtime) values(#{serviceNameAndVersion},#{ip},#{port},#{beforeStatus},#{beforeWeight},#{beforeBeta},#{beforeConnections},#{beforeFails},#{status},#{weight},#{beta},#{connections},#{fails},#{createtime})
	</insert>
	
	<select id="list"  resultType="MicroServiceIpChecked">
		select id,servicenameandversion,ip,port,beforestatus,beforeweight,beforebeta,beforeconnections,beforefails,status,weight,beta,connections,fails,createtime from micro_service_ip_checked order by createtime desc,servicenameandversion
	</select>
	
</mapper>  

