<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.MicroServiceMockMapper">

	<select id="searchMock" parameterType="String" resultType="String"> 		
		select mockservicenameandversion from micro_service_mock where servicenameandversion=#{serviceNameAndVersion}
	</select> 

	<select id="searchService"  parameterType="String" resultType="String">
		select servicenameandversion from micro_service_mock where mockservicenameandversion=#{mockServiceNameAndVersion}
	</select>
	
	<insert id="insert" parameterType="MicroServiceMock">
		insert into micro_service_mock(servicenameandversion,mockservicenameandversion) values(#{serviceNameAndVersion},#{mockServiceNameAndVersion})
	</insert>
	
	<update id="update" parameterType="MicroServiceMock">
		update micro_service_mock set mockservicenameandversion=#{mockServiceNameAndVersion} where servicenameandversion=#{serviceNameAndVersion}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from micro_service_mock where servicenameandversion=#{serviceNameAndVersion}
	</delete>
</mapper>  