<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.governance.mapper.MicroServiceIpCheckMapper">

	<insert id="insert" parameterType="MicroServiceIpCheck">
		insert into micro_service_ip_check(servicenameandversion,ip,port,beforestatus,beforeweight,beforebeta,beforeconnections,beforefails,status,weight,beta,connections,fails,createtime) values(#{serviceNameAndVersion},#{ip},#{port},#{beforeStatus},#{beforeWeight},#{beforeBeta},#{beforeConnections},#{beforeFails},#{status},#{weight},#{beta},#{connections},#{fails},#{createtime})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from micro_service_ip_check where id=#{id}
	</delete>

	
	<select id="list"  resultType="MicroServiceIpCheck">
		select id,servicenameandversion,ip,port,beforestatus,beforeweight,beforebeta,beforeconnections,beforefails,status,weight,beta,connections,fails,createtime from micro_service_ip_check order by createtime desc,servicenameandversion
	</select>
	
</mapper>  

